<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medianeras Premoldeadas - Empresa de Construcción</title>
    <link rel="stylesheet" href="/css/Styles.css">
</head>
<body>
    <header>
        <h1>Medianeras Premoldeadas</h1>
        <nav>
            <ul>
                <li><a href="/Index.html">Inicio</a></li>
                <li><a href="/templates/Medianeras.html">Medianeras Premoldeadas</a></li>
                <li><a href="/templates/Construccion-seco.html">Construcción en Seco</a></li>
                <li><a href="/templates/Construccion-tradicional.html">Construcción Tradicional</a></li>
                <li><a href="/templates/Contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Servicio de Medianeras Premoldeadas</h2>
            <p>Produccion e instalacion de elementos pre moldeados de hormigon</p>
        </section>

        <img src="/assets/servicio-medianeras2.jpg" alt="Imagen ilustrativa de medianeras premoldeadas">
    </main>

    <footer>
        <p>&copy; 2024 Empresa de Construcción. Todos los derechos reservados.</p>
    </footer>

    
</body>
</html>